{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quizle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src = "{% static 'quiz/scripts.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "quiz/style.css" %}">
</head>
<body>
{% csrf_token %}
{% if error_message %}<div class="alert alert-danger fade in">,<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{error_message}}</div>{% endif %}
<div class="container">
	<form action="" class="form" method="POST">
	{% csrf_token %}
 		 First name:<br>
  		<input type="text" name="username" value=""><br>
  		Password:<br>
  		<input type="text" name="password" value=""><br><br>
  		<input type="submit" value="Login" name='mybtn'>
	</form>
</div>
</body>
</html>