<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="{% url 'quiz:home' %}">{{title}}</a>
    		</div>
    		<ul class="nav navbar-nav">
      			<li><a href="{% url 'quiz:scoreboard' %}">Scoreboard</a></li>
      			<li><a href="{% url 'quiz:categories' %}">Categories</a></li> 
      			<li><a href="{% url 'quiz:about' %}">About</a></li> 
    		</ul>
    		<ul class="nav navbar-nav navbar-right">
    			<li><a href="{% url 'quiz:logout' %}">Logout</a></li>
    		</ul>
  		</div>
	</nav>
	{% block content %}
	{% endblock %}


</body>
</html>