{% extends "quiz/home.html" %}
{% block content %}
<div class="container">
<h3>{{question.question_text}}</h3>
{% if error_message %}<div class="alert alert-danger fade in">,<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{error_message}}</div>{% endif %}
      <form action="" method="POST">{% csrf_token %}
  <input type=hidden name="question_id" value="{{ question.id }}">

  <ul class="list-group">

	{% for answer in form.answers %}
	  <li class="list-group-item">
	    {{ answer }}
	  </li>
	{% endfor %}

  </ul>
  <input type="submit" value="Next" name = 'inp'/>
</form>
</div>
{% endblock %}