{% extends 'quiz/home.html' %}
{% block content %}
<div class='container'>
  <table class="table table-condensed">
  <h3>Scoreboard</h3>
    <thead>
      <tr>
        <th>№</th>
        <th>Person</th>
        <th>Category</th>
        <th>Score</th>
      </tr>
    </thead>
    {% for scora in scoreboard %}
      <tr>
      <td>{{ forloop.counter }}</td>
        <td>{{ scora.name }}</td>
        <td>{{ scora.category_name }}</td>
        <td>{{ scora.score }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}